<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovieSetManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MovieSetManager.Properties.Settings>
            <setting name="MovieSetPath" serializeAs="String">
                <value>E:\SourceCode\MovieSetManager\Test Files</value>
            </setting>
            <setting name="SingleFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MySQLHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value />
            </setting>
        </MovieSetManager.Properties.Settings>
    </userSettings>
</configuration>